# Better Auth
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/dbname?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# Dropbox OAuth
DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=
DROPBOX_REDIRECT_URI=http://localhost:3000/api/auth/oauth2/callback/dropbox

# Docketwise
DOCKETWISE_CLIENT_ID=
DOCKETWISE_CLIENT_SECRET=
DOCKETWISE_OAUTH_AUTHORIZE_URL=
DOCKETWISE_OAUTH_TOKEN_URL=

# Google Gemini
GEMINI_API_KEY=

# Email SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
