BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://localhost:3000
DATABASE_URL=postgresql://username:password@host:port/database
DOCKETWISE_CLIENT_ID=
DOCKETWISE_CLIENT_SECRET=
DOCKETWISE_OAUTH_AUTHORIZE_URL="https://app.docketwise.com/oauth/authorize"
DOCKETWISE_OAUTH_TOKEN_URL="https://app.docketwise.com/oauth/token"
DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=
DROPBOX_REDIRECT_URI=
GEMINI_API_KEY=
REDIS_URL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=